.img {
  width: 50vw;
}

.container {
  max-width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.address {
  display: flex;
  flex-direction: column;
  color: rgb(77, 77, 77);
  margin: 30px;
  padding-top: 20px;
}

.reservate {
  display: flex;
  justify-content: center;
}

.textReservate {
  color: rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
  padding: 120px;
}
