.scrollToTop {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  left: 85%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #8b0000;
  color: #fff;
  z-index: 99;
}

.icon {
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(6px);
  }
  to {
    transform: translateY(12px);
  }
}
