.logo {
  padding-right: 100px;
  height: 60px;
}

.logo.active {
  padding-right: 100px;
  height: 40px;
}

.nav {
  background: rgba(128, 128, 128, 0.637);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 1.4em;
  height: 100px;
  justify-content: center;
  padding: 25px 80px;
  width: 100vw;
  max-width: 100%;
  transition: all 0.3s;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.6);
}

.nav.active {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(170, 170, 170) 100%
  );
  font-size: 1em;
  height: 80px;
}
