.Footer {
  background-color: #27774f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;
}
