.Footer {
  background-color: #252525;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.widget {
  margin-bottom: 8px;
  font-size: 18px;
  list-style-type: none;
  text-align: left;
}

.icon {
  margin-right: 20px;
}

.logo {
  width: 180px;
  padding-bottom: 20px;
}
